* {
    padding: 0;
    margin: 0;
}

#wrapper {
    margin: 0 auto 0 auto;
    display: table;
}

canvas {
    border: 1px solid black;
    background-image: url('../images/background_town1.png');
}

#water_pokemon {
    display: none;
}